@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Quicksand:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap");


body{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1em 40em 100em 20em ;
    grid-area: "nav nav nav"
               "header header header"
               "main main main"
               "footer footer footer";
    font-family: "Inter", sans-serif;    
}
nav{
  grid-area: nav;
  background:#0a0f1f;
}

nav input{
  margin: 1rem;
  border: 1px solid rgb(245, 227, 26);
  border-radius: 10px;
  max-width: 100%;
}

nav button{
  margin: 1rem;
  border-radius: 20px;
  max-width: 100%;
  display: inline-flex;
  position: relative;
  float: right;
  color: rgb(245, 227, 26);
  border-radius: 10%;
  background-color: rgb(255, 166, 0);
  font-family: 'Courier New', Courier, monospace;
  
}
nav a{
   text-decoration: none;
   color: black;
   
}
header{
    background-image: url("https://i.ytimg.com/vi/h8EMUufDTEk/maxresdefault.jpg");
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: header;
    height: 40em;
    text-align: center;
    align-items: center;
}
header img{
   margin-top: 200px;
   max-width: 100%;
   background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.993),
    rgb(255, 255, 255)
  );
  border-radius: 40px;
  animation: luz 10s ease-in-out infinite;



}

@keyframes luz {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.3;
  }
}
   


main{
  color: white;
  font-size: 2em;
  background:linear-gradient( #0a0f1f,rgb(0, 71, 171));
  grid-area: main;
  font-family: 'Orbitron', sans-serif;
    
}
main li{
   list-style: none;
   padding: 5px;
   
}

main h1, main h3{
    margin-left: 6rem;
    margin-right: 4rem;
}




footer{
    background: rgb(0, 71, 171);
    grid-area: footer;
    text-align: center;
}
footer img{
  text-align: center;
  margin-top: 3rem;
}

main h1{
    margin-top: 0;
}

.final{
    margin-bottom: 0;
}


.tiposdejogos img{
  width: 200px;
  transition: transform 0.3s ease;
}

.tiposdejogos img:hover {
  transform: scale(1.2);
}

.contener1 h1, .contener1 h3{
  background-size:cover;
  margin: 10em,10em,10em,10em;
}
.tiposdejogos{
  text-align: center;

}
.conteiner2{
  text-align: left;
  margin: 50px;
}

.tiposdejogos ul h4{
  margin-bottom: 10px;
  margin-left: 0;

}
ul{
  margin-bottom: 0;
}
.tiposdejogos h6{
  margin-bottom: 0;
}
/*CAROUSEL*/
.carousel {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  border: 2em  rgb(245, 227, 26) ;
  
}

/* esconder radios */
.carousel input {
  display: none;
}

.slides {
  display: flex;
  width: 300%;
  transition: transform .5s ease;
}

.slides img {
  width: 100%;
  object-fit: cover;
}

/* Navegação (bolinhas) */
.nav {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.nav label {
  width: 12px;
  height: 12px;
  background: #fff8;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}

.nav label:hover {
  background: #fff;
}

/* Movimento dos slides */
#s1:checked ~ .slides { transform: translateX(0); }
#s2:checked ~ .slides { transform: translateX(-33.33%); }
#s3:checked ~ .slides { transform: translateX(-66.66%); }

/* Ativo fica mais forte */
#s1:checked ~ .nav label[for="s1"],
#s2:checked ~ .nav label[for="s2"],
#s3:checked ~ .nav label[for="s3"]
 {background: #fff;}


 h1{
  font-family: "Poppins", sans-serif;

 }
 #serie{
  max-width: 100%;
  align-items: center;
   }

section img{
  max-width: 100%;
  align-items: center;
  
  height: auto;


}
section h6{
  margin-bottom: 0;
  margin-top: 0;
  max-width: 100%;
}

section{
  text-align: center;
}

@media (max-width:768){
  body{
    font-size: 10px;
  }
  
}
@media (max-width:480px){
  input{
    padding: 6px 10px;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
  }
  nav{
    height: 100px;
  }

}